### Site Settings ###
title               : Shubham Sharma
description         : >-
                      I turn data into decisions,
                      use tabs over spaces
                      and never broke production.
baseurl             : ""                     # Change to empty quotes if you are hosting your site at <your-username>.github.io directly
repository          : sunamo91/sunamo91.github.io     # Change to <your-username>/<your-username>.github.io (or remove it if you don't need remote projects)
remote_theme        : 


### Plugins ###
plugins:
  - jemoji


### Navbar Settings ###
nav_exclude:                                            # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md
  


### Author Info ###
author:
  name              : Shubham Sharma
  image             : https://raw.githubusercontent.com/sunamo91/sunamo91.github.io/master/Images/Profile_pic.jpg
  behance           : your_username
# dribbble          : your_username
  email             : ssharm88@uic.edu
# facebook          : your_username
  github            : sunamo91
# gitlab            : your_username
# instagram         : your_username
# kaggle            : your_username
  linkedin          : shubham-sharma-uic
  medium            : shubham24sharma
# soundcloud        : your_username
# spotify           : your_username
# stackoverflow     : your_user_id
# tumblr            : your_username.tumblr.com
# twitch            : your_username
  twitter           : your_username
# vimeo             : your_username
# youtube           : your_channel_name


### Posts ###
permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /projects/:name
  


### Disqus ###
disqus: Shubham's portfolio                          # Your website Shortname on disqus


### Analytics ###
analytics:
  enabled: true                                        # Set true to enable analytics
  google:
    tracking_id: your-google-tracking-id


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      comments: false                                   # Set to true to enable disqus comments

### Exclude from processing ###
exclude:
  - README.md
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
